<div
  class='device'
  style='height: {{height}}; width: {{width}}; background-color: {{bgColor}}'
>
  <pinch-zoom>
    <img src='{{src}}' class='wallpaper' style='height: {{height}};' />
  </pinch-zoom>
  <div class='app-icons'>
    <span class='app-icon'></span>
    <span class='app-icon'></span>
    <span class='app-icon'></span>
    <span class='app-icon'></span>
  </div>
</div>

<button>Set wallpaper</button>