<div class='options'>
  {{#options}}
    <div class='option' action='{{action}}'>
      <span class='icon {{icon}}'></span>
      <div class='title'>
        <div class='text'>{{text}}</div>
        <small class='sub-text'>{{subText}}</small>
      </div>
    </div>
  {{/options}}
</div>

<div class='notice'>
  <h3>Term of usage</h3>
  <p>
    All wallpapers/images on this app are only for personal use (i.e using it as
    wallpaper) and should not be used anywhere else other than setting it as
    wallpaper.
  </p>

  <h3>Report image(s)</h3>
  <p>
    If you find any image that is copyrighted or anyone has any objection about
    any image please us for immediate removal of that specific removal of that
    image.
  </p>
</div>

<footer>
  <div class='line'>{{label}} v{{version}}</div>
  <div class='line'>&copy; Foxdebug 2021</div>
  <div class='line'>
    <span
      class='link'
      action='open'
      value='https://foxdebug.com'
    >foxdebug.com</span>
    |
    <span
      class='link'
      action='email'
      value='contact@foxdebug.com'
    >contact@foxdebug.com</span>
  </div>
</footer>